<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1 align="center"> {{ title }}</h1>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID da Tarefa</th>
          <th>Título da Tarefa</th>
          <th>Descrição da Tarefa</th>
          <th>Status da Tarefa</th>
          <th>Data de Conclusão da Tarefa</th>
        </tr>
      </thead>
      <tbody>
      {% for to_do_list in to_do_lists %}
            <tr>
              <td align="center">{{ to_do_list.id }}</td>
              <td align="center">{{ to_do_list.title }}</td>
              <td align="center">{{ to_do_list.description }}</td>
              <td align="center">{{ to_do_list.status }}</td>
              <td align="center">{{ to_do_list.dealine }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>